# Python virtual environments
venv/
venv-abc-chatbot/
.env/
*.env

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore module/package files
*.egg-info/
dist/
build/